# CMake Build Klasörleri
cmake-build-debug/
cmake-build-release/
build/
bin/
assets/

# IDE Dosyaları (CLion / VS Code)
.idea/
.vscode/
*.swp
*.user

# Derlenmiş Çıktılar
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk

# Resim Çıktıları (Test sonuçlarını yüklemeyelim)
lib
lib-assets
mdSource/ARCHITECTURE.md
mdSource/CORE.md
mdSource/GRAPHICS.md.md
mdSource/IO.md
mdSource/UI.md
mdSource/USAGE.md
mdSource/VISION.md

hiyerarsi.txt
imgui.ini
NetworkConfig.txt
TODO.md

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db
