# CMake Build Klasörleri
cmake-build-debug/
cmake-build-release/
build/
bin/
assets/

# IDE Dosyaları (CLion / VS Code)
.idea/
.vscode/
*.swp
*.user

# Derlenmiş Çıktılar
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk

# Resim Çıktıları (Test sonuçlarını yüklemeyelim)
assets/blonde.jpg


# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db